html{
  font-family: Helvetica;
  font-size: 16px;
}
body{
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}
div{
  border: 1px solid red;
}
nav{
  border: 1px solid blue;
  padding: 1rem 1.5rem;
}
/* navigation header mobile */
.navigation .mobile{
  display: none;
}
@media only screen and (max-width: 480px){
.navigation .mobile{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
.navigation .desktop{
  display: none;
}
}
/* navigation header desktop  */
.desktop .logo{
  display: flex;
  align-items: center;
}
.desktop{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
